
html, body {
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
}

body {
    background-color: #1C1F33;
}

.navigation {
    background-color: #1C1F33;
    color: #F3EBD3;
    height: 85px;
    font-size: 20px;

    animation-name: navegacao;
    animation-duration: 3.5s;
}

.navigation ul {
    list-style: none;
    margin-top: 0;
    padding: 35px;
    text-align: right;
}

.navigation li {
    display: inline-block;
    padding-left: 50px;
    padding-right: 50px;
    line-height: 30px;
}

.navigation li a {
    text-decoration: none;
    color: #F3EBD3;
}

.navigation a:hover {
    color: #B0413E;
}

.navigation li.threeline-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

.capa {
    color: white;
}

.capa span {
    color: #B0413E;
    display: block;
}

.capa h2 {
    color: #F3EBD3;
}

.capa div {
    display: inline-block;
    height: 600px;
}

.foto-perfil {
   width: 45%;
   text-align: center;

   animation-name: fotos;
   animation-duration: 1.5s;
}

.foto-perfil img {
    border-radius: 400px;
    margin-top: 125px;
}

.nome-perfil {
    vertical-align: top;
    width: 54%;

    animation-name: texto-principal;
    animation-duration: 2.5s;
}

.nome-perfil h1 {
    text-transform: uppercase;
    font-size: 60px;
    margin-top: 240px;
}

.nome-perfil h2 {
    font-size: 20px;
    margin-top: -25px;
}

.main {
    width: 80%;
    margin: auto;
    padding-bottom: 55px;

    animation-name: conteudo;
    animation-duration: 3s;
}

.cv-pic {
    width: 400px;
    border-radius: 400px;
    display: block;
    float: right
}

.main h1 {
    color: white;
    font-size: 35px;
}

.main h2 {
    color: white;
    font-size: 25px;
    margin-top: 32px;
}

.main h3 {
    color: #B0413E;
    font-size: 22px;
    margin-bottom: 12px;
}

.main p {
    color: #F3EBD3;
    font-size: 18px;
    line-height: 25px;
    text-align: justify;
}

.caminho {
    list-style: none;
    padding-left: 0px;
    margin-bottom: 20px;
    color: #F3EBD3;
}


.caminho li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 18px;
}

.caminho a {
    color: #F3EBD3;
}

.caminho a:hover {
    color: #B0413E;
}

.social-img {
    width: 50px;
    margin-right: 10px;
}

.back-link {
    color: #F3EBD3;
    font-size: 18px;
}

.back-link:hover {
    color: #B0413E;
}

@keyframes fotos {
    from {opacity: 0; transform: scale(0.8) translateY(50px);}
    to {opacity: 1; transform: scale(1) translateY(0);}
}

@keyframes texto-principal {
    from {opacity: 0; transform: translateY(20px);}
    to {opacity: 1; transform: translateY(0);}
}

@keyframes navegacao {
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes conteudo {
    from {opacity: 0; transform: translateX(-40px);}
    to {opacity: 1; transform: translateX(0);}
}

@media (max-width: 850px) {
    .navigation ul {
        text-align: center;
        margin-top: 20px;
    }

    .navigation li {
        display: none;
    }

    .navigation li.threeline-icon {
        display: inline-block;
    }

    .capa div {
        display: block;
        height: auto;
        text-align: center;
    }

    .foto-perfil, .nome-perfil {
        display: block;
        width: 100%;
        text-align: center;
    }

    .foto-perfil img {
        max-width: 75%;
        margin-top: 50px;
    }

    .nome-perfil h1 {
        font-size: 40px;
        margin-top: 35px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .nome-perfil h2 {
        font-size: 18px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .main {
        width: 85%;
    }

    .main p {
        text-align: left;
        line-height: 35px;
    }

    .cv-pic {
        max-width: 75%;
        float: none;
        display: block;
        margin: auto;
        margin-bottom: 20px;
    }

    .caminho li {
        font-size: 16px;
    }
    
}