
html, body {
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
}

body {
    background-color: #1C1F33;
}

.navigation {
    background-color: #1C1F33;
    color: #F3EBD3;
    height: 100px;
    font-size: 20px;
}

.navigation ul {
    list-style: none;
    margin-top: 0;
    padding: 35px;
    text-align: right;
}

.navigation li {
    display: inline-block;
    padding-left: 40px;
    padding-right: 40px;
    line-height: 30px;
}

.capa {
    color: white;
}

.capa span {
    color: #B0413E;
    display: block;
}

.capa h2 {
    color: #F3EBD3;
}

.capa div {
    display: inline-block;
    height: 600px;
}

.foto-perfil {
   width: 45%;
   text-align: center;
}

.foto-perfil img {
    border-radius: 400px;
    margin-top: 125px;
}

.nome-perfil {
    vertical-align: top;
    width: 54%;
}

.nome-perfil h1 {
    text-transform: uppercase;
    font-size: 60px;
    margin-top: 240px;
}

.nome-perfil h2 {
    font-size: 20px;
    margin-top: -25px;
}

.main {
    width: 80%;
    margin: auto;
    padding-bottom: 55px;
}

.main img {
    width: 400px;
    border-radius: 400px;
    display: block;
    float: right
}

.main h1 {
    color: white;
    font-size: 35px;
}

.main h2 {
    color: white;
    font-size: 25px;
    margin-top: 32px;
}

.main h3 {
    color: #B0413E;
    font-size: 22px;
    margin-bottom: 12px;
}

.main p {
    color: #F3EBD3;
    font-size: 18px;
    line-height: 25px;
    text-align: justify;
}

.caminho {
    list-style: none;
    padding-left: 0px;
    margin-bottom: 20px;
    margin-top: -15px;
    color: #F3EBD3;
}


.caminho li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 18px;
}

