
html, body {
    margin: 0;
    padding: 0;
    font-size: 0;
}

body {
    background-color: #1C1F33;
}

.navigation {
    background-color: #1C1F33;
    color: #F3EBD3;
    height: 100px;
    font-size: 22px;
}

.navigation ul {
    list-style: none;
    margin-top: 0;
    padding: 35px;
    text-align: right;
}

.navigation li {
    display: inline-block;
    padding-left: 40px;
    padding-right: 40px;
    line-height: 30px;
}

.capa {
    color: white;
}

.capa span {
    color: #B0413E;
    display: block;
}

.capa h2 {
    color: #F3EBD3;
}

.capa div {
    display: inline-block;
    height: 600px;
}

.foto-perfil {
   width: 40%;
   text-align: center;
}

.foto-perfil img {
    border-radius: 400px;
    margin-top: 125px;
}

.nome-perfil {
    vertical-align: top;
    width: 60%;
}

.nome-perfil h1 {
    font-size: 57px;
    margin-top: 255px;
}

.nome-perfil h2 {
    font-size: 28px;
}